<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReservationServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55945/ReservationService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReservationServiceSoap"
                contract="ReservationService.ReservationServiceSoap" name="ReservationServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>